<p class="text-lg text-indigo-100"> Loading... </p>

<iframe src="https://giphy.com/embed/hatz3YjuDO0BG" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/hatz3YjuDO0BG">via GIPHY</a></p>