<%= turbo_stream_from current_user %>

<div class="bg-gradient-to-b from-indigo-500 via-indigo-400 to-pink-500 min-h-[150vh] flex flex-col items-center pt-16 px-6 md:px-0">
  <div class="w-full max-w-5xl rounded-lg min-h-[70vh]">
    <div class="w-full flex items-center justify-center p-8">
      <%= turbo_frame_tag :chat do %>
        <div class="flex flex-col items-center" id="logo">
          <%= image_tag "charm.png", class: "h-56 fill-indigo-900" %>
          <h2 class="text-2xl text-indigo-100"> Ask me anything and ill try my best to help </h2>
        </div>
      <% end %>
    </div>
    <div class="max-w-lg w-full mx-auto p-4 bg-indigo-100" id="form">
      <%= render "form" %>
    </div>
  </div>
</div>